<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.stu.cloudlibrary.mapper.BookMapper">

    <!-- 查询最新的五本图书，按上架时间降序排列 -->
    <select id="findLatestBooks" resultType="com.stu.cloudlibrary.model.Book">
        SELECT * FROM book
        ORDER BY uploadtime DESC
        LIMIT 5
    </select>

    <!-- 借阅图书 -->
    <update id="borrowBook">
        UPDATE book
        SET status = 'borrowed',
        borrower = #{borrower},
        borrowtime = #{borrowTime},
        returntime = #{returnTime}
        WHERE id = #{id}
        AND status = 'available'
    </update>

    <!-- 还书 -->
    <update id="returnBook">
        UPDATE book
        SET status = 'available',
        borrower = NULL,
        borrowtime = NULL,
        returntime = NULL
        WHERE id = #{id}
        AND status = 'borrowed'
    </update>

    <!-- 根据 ID 查找图书 -->
    <select id="findById" resultType="com.stu.cloudlibrary.model.Book">
        SELECT * FROM book WHERE id = #{id}
    </select>

    <!-- 更新图书的状态 -->
    <update id="updateStatus">
        UPDATE book
        SET status = #{status}
        WHERE id = #{id}
    </update>

</mapper>
